/* Footer General */
footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 2rem 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 2rem;
}

.footer-section {
  margin: 1rem;
  flex: 1 1 200px;
}

.footer-section h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.5rem 0;
}

.footer-section ul li a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: inline-block;
  padding: 0;
}

.footer-section ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footer-section ul li a:focus {
  color: var(--accent-color);
  text-decoration: underline;
  outline: none;
}

.footer-bottom {
  border-top: 1px solid var(--secondary-color);
  padding-top: 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* FIX para los enlaces de navegación */
.footer-section .nav-links li .footer-link {
display: block;
margin: 0.5rem 0;
}

.footer-section .nav-links li {
margin: 0;
padding: 0;
}