/* Estilo principal para las tarjetas */
.tapa-book {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Altura fija para las tarjetas */
  min-height: 600px; /* Altura mínima para contener 2 filas */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Contenedor del grid */
.tapa-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas fijas */
  grid-template-rows: repeat(2, auto); /* Altura automática para las filas */
  margin-bottom: 20px; /* Espacio entre el grid y los botones */
  overflow: hidden; /* Evitar que el contenido se desborde */
}

/* Ajusta el tamaño de las tarjetas */
.tapa-grid > div {
  max-width: 100%; /* Limita el ancho máximo */
  height: auto; /* Altura automática */
}

/* Imágenes dentro de las tarjetas */
.tapa-book img {
  max-width: 100%;
  height: 150px; /* Altura fija para las imágenes */
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1; /* Proporción cuadrada */
}

/* Títulos dentro de las tarjetas */
.tapa-book h3 {
  font-size: 1rem;
  margin: 10px 0;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Descripciones dentro de las tarjetas */
.tapa-book p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #555;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tapa-book:hover {
  transform: translateY(-5px) scale(1.02); /* Levanta y agranda ligeramente */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Botones de paginación */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: auto;
  padding-bottom: 10px; /* Añade un poco de espacio al final */

}

.pagination-controls button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; /* Fuente más pequeña */
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Media query para móviles */
@media (max-width: 768px) {
  .tapa-grid {
    grid-template-columns: 1fr; /* 1 columna en móviles */
  }

  .tapa-book {
    min-height: 500px; /* Altura mínima reducida para móviles */
  }
  .pagination-controls button {
    padding: 6px 12px; /* Botones aún más pequeños en móviles */
    font-size: 0.8rem;
  }
}