/* index.css */

/* Variables: define la paleta de colores y algunas tipografías */
:root {
  --primary-color: #D35400;
  --secondary-color: #F39C12;
  --accent-color: #e4f312;
  --text-color: #333333;
  --background-color: #FFF9F4;
}

/* Reset básico para márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: var(--background-color) !important; /* ¡Forzamos el color de fondo! */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Estilos globales */
body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

/* Navbar */
/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Georgia', serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  display: inline-block;
  position: relative;
}

/* Estilo de los enlaces */
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover de los enlaces */
.nav-links li a:hover {
  color: var(--text-color); /* Texto gris oscuro */
  background-color: var(--secondary-color); /* Fondo naranja vibrante */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más destacada */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}


/* Estilos para el contenido principal */
.App {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}

h1 {
  margin: 20px 0;
  font-size: 2.5rem;
  color: var(--primary-color);
}

h2, h3 {
  color: var(--secondary-color);
}

p {
  margin: 10px 0;
}